* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    overflow: -moz-hidden-unscrollable;
    
}

h1,h2, h3, h4, p {
    color: rgb(0, 0, 0);
}

.Nav {
    margin: auto;
    width: 1500px;
    position: relative;
}

.menu {
    float: right;
}

.judul {
    font-size: 35px;
    font-weight: 800;
    font-family: monospace;
    color: rgb(0, 62, 150);
    float: left;
    padding: 15px;
    text-decoration: none
}

.judul:hover {
    cursor:default;
    text-decoration: none
}

.judul2 {
    font-size: 35px;
    font-weight: 800;
    font-family: monospace;
    color: rgb(0, 62, 150);
    float: left;
    padding: 15px;
}

.judul2:hover {
    cursor:default;
}

nav {
    border-bottom: solid 4px;
    border-color: rgb(0, 77, 141);
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 240%;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    z-index: 100;
    background-color: rgb(255, 238, 0);
    text-decoration: none
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: auto;
    overflow: hidden;
}

nav ul li {
    float: left;
    padding: 16px;
}

nav ul li a {
    text-align: center;
    padding:  16px;
    text-decoration: none;
    color: rgb(0, 106, 255);
    transition: ease-in-out 212ms;
}
nav ul li a:hover {
    text-decoration: none;
    color:rgb(0, 47, 112);
    transition: ease-in-out 212ms;
}

.logo_salut {
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 8px;
    width: 5.1%;
    float: left;
}


.isi_pertama {
    padding: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    text-align: center;
}



@media screen and (max-width: 991.98px) {
    nav {
        display: flex;
        justify-content: center;
        max-height: 150px;
        max-width: 991.98px;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }
    
    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }
    
    nav .menu ul li {
        display: inline-block;
        float: none;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 14px;
    }

    .judul{
        margin-top: 5px;
        display: block;
    width: 100%;
    text-align: center;
    }

    .judul2{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -40px;
    }

    .logo_salut {
        position: absolute;
        width: 12%;
        float: left;
    }

    .isi_pertama {
        padding: 50px;
    }
    
    .isi_pertama .sambutan{
        font-size: 10px;
    }
    
    .isi_pertama h4{
        margin: 0 70px 0 70px;
    }
    
    

}